/* Nav Bar component */
.Navigation {
    padding: 15px 15px 15px 15px;
    margin: auto;
    word-spacing: 20px;
    font-family: "Times New Roman", Times, serif;
}

/* Initial/Homepage Greeting */
.App {
  text-align: center;
}

/* Animated React Logo */
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

/* Hero Image / background image */
.App-header {
  background-color: black;
  background-image: url("bg-main.jpg");
  background-repeat: no-repeat;
  background-position: right;
  height: 600px;
  padding: 0px;
  color: white;
    margin-left: 50px;
    margin-right: 50px;
    flex: 1;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(-360deg); }
}

/* Links states */
a:link {
    color: darkslategray;
    text-decoration: none;
    background-color: powderblue;
}
a:visited {
    color: green;
    text-decoration: none;
    background-color: cyan;
}
a:hover {
    color:hotpink;
    text-decoration: underline;
    background-color: lightgreen;
}
a:active {
    color: blue;
    text-decoration: underline;
    background-color: hotpink;
}